html,
body {
  overflow-x: hidden;
  font-family: "Outfit", sans-serif;
}

/* ************************************************************************** */
/* home page styling */
/* ************************************************************************** */

.box-shadow-btn{
  box-shadow: inset 0 0 10px rgba(106, 85, 157, 1);
}
.box-shadow-btn:hover {
  box-shadow: inset 0 0 20px rgba(106, 85, 157, 1);
}
.piCrossHair {
  box-shadow: inset 0 0 10px rgba(106, 85, 157, 0.5);
}
.psuedo_border {
  border: 1px solid;
  border-image-source: linear-gradient(
    180deg,
    rgba(48, 33, 104, 0) 1.33%,
    rgba(48, 33, 104, 0.7) 49.63%,
    rgba(48, 33, 104, 0) 102.13%
  );
  border-image-slice: 1;
}
.skill_grid_border{
  border: 1px solid;
  border-image-source: linear-gradient(
    180deg,
    rgba(48, 33, 104, 0) 1.33%,
    rgba(48, 33, 104, 0.3) 49.63%,
    rgba(48, 33, 104, 0.3) 49.63%
  );
  
  border-image-slice: 1;
}
.skill_grid_border_btm{
  border: 1px solid;
  border-image-source: linear-gradient(
    0deg,
    rgba(48, 33, 104, 0) 1.33%,
    rgba(48, 33, 104, 0.3) 49.63%,
    rgba(48, 33, 104, 0.3) 49.63%
  );
  border-image-slice: 1;
}
.nextjs_image {
  filter: brightness(0) invert(1);
}
.skill_shadow{
  box-shadow: 0px 2px 20px 10px #6A559D0F inset, 
  0px -2px 22px 5px #6A559D0F inset, 
  -2px 0px 22px 5px #6A559D0F inset, 
  2px 0px 22px 5px #6A559D0F inset;
}
.icon-text-container {
  border-width: 0.38px;
  border-radius: 50%;
  border-image-source: linear-gradient(
    131.06deg,
    rgba(255, 255, 255, 0.15) 10.93%,
    rgba(255, 255, 255, 0) 62.56%
  );
  border-image-slice: 1;
}
.text_gradient {
  background: linear-gradient(90deg, #020014 10.93%, #2f2642 62.56%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tick_icon_bg {
  background: linear-gradient(90deg, #161336 10.93%, #5f4a8d 62.56%);
}
.clip-half{
  clip-path: inset(0 0 83% 0);
}
.mission_vision_icon{
  width: fit-content;
}

/* ************************************************************************** */
/*Our team page styling */
/* ************************************************************************** */
.team_member_1{
  background-image: url('./assets/person1.png');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  width:280px;
  height:340px;
}
.team_member_2{
  background-image: url('./assets/person2.png');
  background-size: cover;
  background-repeat: no-repeat;
  width:280px;
  height:340px;
}
.team_member_3{
  background-image: url('./assets/person3.png');
  background-repeat: no-repeat;
  background-size: cover;
  width:280px;
  height:340px;
}
.team_member_4{
  background-image: url('./assets/person4.png');
  background-repeat: no-repeat;
  background-size: cover;
  width:280px;
  height:340px;
}
.card-text.hover_text {
  opacity: 0;
}
.card:hover .card-text.default_text {
  opacity: 0;
}
.card:hover .card-text.hover_text {
  opacity: 1;
}


/* ************************************************************************** */
/*Activities page styling */
/* ************************************************************************** */
.tab-content {
  display: none;
}
.tab-content.active {
  display: flex;
  justify-content: start;
  align-items:start;
  flex-wrap: wrap;
}
.course-item img{
  border-radius: 24px;
}


/* ************************************************************************** */
/*Media Query*/
/* ************************************************************************** */

@media (max-width:640px){
  .coders_club_logo{
    height: 50px;
    width: 50px;
  }
  footer .footer-content{
    flex-direction: column;
    gap: 20px;
    padding: 25px;
    margin-top: 55px;
  }
  .hero-section-heading{
    font-size:1.7rem;
    margin-top:-8.5rem;
  }
  .hero-section-subheading{
    margin-top: -4.5rem;
  }
  .box-shadow-btn{
    font-size: smaller;
  }
  .box-shadow-btn + p{
    font-size: 2.2rem;
  }
  .skill-grid>div>div{
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
  }
  .nextjs_image{
    width: 2rem;
    height: 2rem;
  }
  .skill_shadow{
    box-shadow: 0px 2px 10px 5px #6A559D0F inset, 
    0px -2px 11px 5px #6A559D0F inset, 
    -2px 0px 11px 5px #6A559D0F inset, 
    2px 0px 11px 5px #6A559D0F inset;
  }
  .tick_icon_bg{
    font-size: 0.7rem;
    margin-top: 5px;
  }

  #mobile-menu {
    position: absolute;
    text-align: center;
    font-size: 16px;
    top: 88px; 
    left: 0;
    width: 100%;
    background-color: #020014; 
    z-index: 40;
  }
  .course-item{
    width: 100%;
    margin-bottom: 20px;
  }
  .team_member_1, .team_member_2, .team_member_3, .team_member_4{
    width:100%;
    height: 360px;
  }
}